*~
.*.swp
CMakeLists.txt.user*
*.kdev*
*.bak
*.orig
build/
build-release/
build-debug/
docs/html
*.aux
*.blg
*.toc
*.fdb_latexmk
*.bbl
*.log
*.synctex.gz
ceres.pdf
ceres-solver.pdf
docs/minted.sty
obj/
jni/libs/
.buildinfo
/build12/lib
/build12/Win32
/build12/CMakeFiles
/build12/Debug
/build12/*.sdf
/build12/internal/ceres/Debug
/build12/internal/ceres/ceres.dir
/build12/internal/ceres/CMakeFiles
/build12/CeresConfig-install.cmake
/build12/CeresConfigVersion.cmake
/build12/cmake_install.cmake
/build12/internal/ceres/cmake_install.cmake
/build12/CTestTestfile.cmake
/build12/internal/ceres/CTestTestfile.cmake
/build12/cmake/uninstall.cmake
/build12/bin
/build12/*.suo
/build12/CMakeCache.txt
/build12/*.opensdf
/build12/internal/ceres/x64
/build12/x64
